header {
    display: flex;
    background-color: #007965;
    color: #FFFFFF;
    font-size: small;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#logo-burger {
    display: flex;
    width: 50px;
    height: 50px;
}
#logo-burger:hover {
    filter: drop-shadow(0 0 2em #FFCC29);
}
#logo-burger.react:hover {
    filter: drop-shadow(0 0 2em #FFCC29);
}

#topLeft{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    align-items: center;
}
#topLeft > * {
    margin-right: 1em;
}

#logo-user {
    display: flex;
    width: 50px;
    height: 50px;
}

#topRight{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
}
#topRight > * {
    margin-right: 1em;
}

#container-orders{
    margin-bottom: 8%;
    justify-content: center;
    margin-bottom: auto;
    padding-bottom: 2%;    
}

.single-order{
    /* display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
    justify-content: space-around;
    border-radius: 40px;
    width: 40rem;
    margin-bottom: 5%;
    border-bottom-style: outset; */

    display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
    justify-content: space-around;
    width: 40rem;
    border-bottom-style: outset;
}

.single-order:active {
    background-color: #f8e6a8;
}

#text-orders {
    color: black;
    width: 15%;
    text-align: left;
}

.title-orders{
    /*  display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: black; */
    display: flex;
    flex-direction: row;
    background-color: #f5f5f54a;
    border-radius: 16px 16px 0 0;
    width: 40rem;
    gap: 15.5%;
    border-bottom-style: outset;
    align-items: center;
    font-size: smaller;
}
/* .title-orders > * {
    margin-top: 0;
    margin-left: 2%;
    margin-right: 2%;
} */

#btn-chef {
    margin-top: 0%;
    width: 8rem;
    margin-right: 20%;
}

#h2-client {
    margin-left: 5%;
}
#h2-status {
    margin-left: 3.5%;;
}


