.gray-container {
    box-sizing: border-box;
    background-color: #F0F0EF;
    display: flex;
    flex-direction: column;
    width: 40rem;
    border-radius: 40px;
    /* margin-top: 15%;
    margin-bottom: 15%; */
    margin: 0 auto;
    margin-top: 12%;
    margin-bottom: 12%;
}

.container-h2 {
    display: block;
}

.text-h2 {
    font-size: x-large;
    margin-bottom: 0;
}

.text-food {
    width: -webkit-fill-available;
    width: -moz-available;
    align-self: center;
    text-align: left;
    margin: 0.5%;
    border-color: #D9D9D9;
}

.container-foodRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 5%;
}

.p-footer-mesero {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

#btn-mesero {
    margin-right: 0%;
    width: 8rem;
    margin-top: 0;
}

#price {
    width: 20%;
    text-align-last: center;
}

#amount { 
    width: 20%;
}

.bar-container {
    background-color: #D9D9D9;
    display: flex;
    /* gap: 3%; */
    justify-content: space-around;
    border-radius: 10px;
    font-weight: bolder;
    margin: 3%;
    font-size: larger;
}

#btn-order {
    width: fit-content;
    align-self: end;
    margin: 1%;
    margin-top: 22.41px;
    margin-right: 3%;
    background-color: #FFCC29;
}

#miCheckbox {
    margin: 0;
    transform: scale(1.5);
}

.btn-delete{
    background-color: #da4545;
    color: aliceblue;
}

.div-generate-order{
    border-bottom-style: groove;
    width: -webkit-fill-available;
    padding-bottom: 3%;
}

.div-generate-order:last-child {
    border-style: none;
}

#id-tittle-waiter {
    gap: 10.4%;
}

#id-input-number {
    width: fit-content;
    text-align: center;
}