#btn-return {
    margin-top: 0%;
    width: 8rem;
    margin-right: 20%;
    margin-left: 12%;
}

.input-order {
    margin: 3%;
    background-color: transparent;
    color: black;
    font-size: larger;
    border-style: outset;
    /* border-bottom: solid; */
    /* outline: none; */
    padding: 3%;
    width: 80%;
    align-self: center;
    border-radius: 12px;
}

.p-return {
    display: flex;
}

.orders-container {
    display: flex;
    flex-wrap: wrap;
    border-color: #808080;
    border-style: solid;
    background-color: #D9D9D9;
    border-radius: 10px;
    max-width: 40%;
    padding: 2%;
    text-align: left;
    margin-bottom: 5%;
}

.notes-container {
    border-color: #808080;
    border-style: solid;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-bottom: 15%;
    padding: 10%;
    text-align: left;
    width: inherit;
    /* max-width: min-content; */
}

.total-container {
    /* border-style: solid; */
    display: flex;
    align-items: baseline;
    gap: 5%;
    width: inherit;
    justify-content: end;
    /* align-self: center; */
}

#p-total {
    background-color: #D9D9D9;
    /* border-style: solid; */
    width: fit-content;
    padding: 4%;
    border-radius: 12px;
    font-weight: bold;
}

#btn-confirmOrder {
    width: auto;
}

.note-total-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    width: -webkit-fill-available;
    width: -moz-available;
}

.container {
    display: flex;
    justify-content: center;
    gap: 6%;
    margin-right: 7%;
    margin-left: 7%;
}

.p-client-food {
    margin-block-end: 0em;
    width: -webkit-fill-available;
    width: -moz-available;
}
