.body-show-order{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 5%;
}
.gray-container2{
    box-sizing: border-box;
    background-color: #F0F0EF;
    display: flex;
    flex-direction: column;
    width: 40rem;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 6%;
    margin-right: 6%;
    align-items: center;
}

.check-container{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    background-color: #D9D9D9;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    /* border-top: 1px solid black; */
    width: 100%;
}

.check-container2{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 5%;
    padding: 2%;
}

.check-element{
    margin-right: 5%;
}

.order-header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    width: 27rem;
    height: 4rem;
    border-radius: 16px 16px 0 0;
}

.order-content{
    border-bottom-style: solid;
    border-color: #D9D9D9;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-element{
    margin-left: 7%;
}

.orderClient {
    width: -webkit-fill-available;
    width: -moz-available;
}

.p-status-date {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.order-status-false {
    background-color: #f4b77b;
    border-radius: 16px;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 6%;
}

.order-status-true {
    background-color: #c8f47b;
    border-radius: 16px;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 6%;
}